/*
* des: insmile joinus page
* author: liuyao
* update: 2018/6/28
*/

.wrap-gray{
  background-color: #ebebeb;
}
.member{
  padding: 70px 0 80px;
  border-radius: 10px;
  overflow: hidden;
  .tit-nor{
    h3{
      font-size: 30px;
      font-weight: normal;
    }
  }
  .m-name{
    font-size: 60px;
    font-weight: bold;
  }
  .m-role{
    margin: 40px 0;
    font-size: 30px;
  }
}

.m-r{
  text-align: center;
  padding-left: 530px;
  .m-img{
    float: left;
    margin-left: -510px;
  }
}
.m-l{
  text-align: left;
  .tit-nor{
    text-align: left;
  }
  .m-img{
    float: right;
  }
  .m-bd{
    margin-top: 80px;
  }
}

.m-president{
  margin: -35px 0 40px;
  background-color: #ebebeb;
}
.m-chief{
  margin-bottom: 50px;
}