/*
* des: insmile news page
* author: liuyao
* update: 2018/6/28
*/


// import component css
@import "../component/layout";


.flag{
  margin-bottom: 80px;
}

.news-lst{
  margin-bottom: 70px;
  li{
    overflow: hidden;
    padding: 30px 0 30px 400px;
    border-top: 1px solid #eaeaea;
  }

  .news-img{
    float: left;
    margin-left: -400px;
    width: 360px;
    img{
      width: 100%;
    }
  }
  .news-bd{
    color: #4b4949;
    .news-tit{
      margin: 15px 0;
      font-size: 30px;
    }
    .news-txt{
      max-height: 115px;
      overflow: hidden;
      margin: 20px 0;

      font-size: 18px;
      line-height: 30px;
    }
    .news-time{
      font-size: 18px;
      color:#999;
    }
  }
}




// response for Mobile
//================================================
@media (max-width: 992px) {

  .flag{
    margin-bottom: 20px;
  }

  .news-lst{
    li{
      padding-left: 300px;
    }
    .news-img{
      margin-left: -300px;
      width: 260px;
      img{
        width: 100%;
      }
    }
    .news-bd{
      .news-tit{
        margin-top: 0;
      }
      .news-txt{
        max-height: 80px;
      }
    }
  }


}