<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>联系我们</title>
    <link rel="stylesheet" href="../style/css/module/contact.css"/>
</head>
<body>


<div class="container">

    <nav class="nav">
        <img class="logo" src="../img/logo.jpg" alt=""/>

        <div class="nav-wrap">
            <div class="nav-menu js-mobile-menu">
                <span class="line-1"></span>
                <span class="line-2"></span>
                <span class="line-3"></span>
            </div>
            <ul class="nav-lst">
                <li>
                    <a href="home.html">首页</a>
                </li>
                <li>
                    <a href="joinus.html">加入我们</a>
                </li>
                <li>
                    <a href="case.html">客户案例</a>
                </li>
                <li>
                    <a href="news.html">新闻动态</a>
                </li>
                <li>
                    <a href="aboutus.html">关于意适美</a>
                </li>
                <li class="on">
                    <a href="contact.html">联系我们</a>
                </li>
            </ul>
        </div>


    </nav>

</div>


<div class="wrap">
    <div class="flag">
        <img src="../img/contact/flag.jpg" alt=""/>
    </div>
</div>


<div class="wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="filter js-filter">
                    <a href="javacscript:;" data-id='beijing' class="on">北京</a>
                    <a href="javacscript:;" data-id='shanghai'>上海</a>
                    <a href="javacscript:;" data-id='shenzhen'>深圳</a>
                    <a href="javacscript:;" data-id='jinan'>济南</a>
                    <a href="javacscript:;" data-id='nanjing'>南京</a>
                    <a href="javacscript:;" data-id='chengdu'>成都</a>
                    <a href="javacscript:;" data-id='xian'>西安</a>
                    <a href="javacscript:;" data-id='ningbo'>宁波</a>
                    <a href="javacscript:;" data-id='dalian'>大连</a>
                    <a href="javacscript:;" data-id='suzhou'>苏州</a>
                    <a href="javacscript:;" data-id='dezhou'>德州</a>
                    <a href="javacscript:;" data-id='tangshan'>唐山</a>
                    <a href="javacscript:;" data-id='zhengzhou'>郑州</a>
                    <a href="javacscript:;" data-id='yanan'>延安</a>
                    <a href="javacscript:;" data-id='zunyi'>遵义</a>
                </div>


            </div>
        </div>
    </div>
</div>

<!-- S area-box -->
<div class="area-box" >
    <!-- S Beijing -->
    <section class="node js-node"  style="display: block">
        <!-- <div class="wrap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">

                        <div class="mode mode-l">
                            <div class="mode-img">
                                <img src="../img/contact/p1.jpg" alt=""/>
                            </div>
                            <div class="mode-info">
                                <h3 class="area">中国华北总部</h3>

                                <h2>北京总店</h2>
                                <h4>王嘉池</h4>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>


        <div class="wrap wrap-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">

                        <div class="mode mode-r">
                            <div class="mode-img">
                                <img src="../img/contact/p2.jpg" alt=""/>
                            </div>
                            <div class="mode-info">
                                <h2>国锐金嵿店</h2>
                                <h4>孙程程</h4>
                                <a class="more js-more" href="javascript:;">查看更多</a>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>


        <div class="wrap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">

                        <div class="mode mode-l">
                            <div class="mode-img">
                                <img src="../img/contact/p3.jpg" alt=""/>
                            </div>
                            <div class="mode-info">
                                <h2>万科城市之光店</h2>
                                <h4>张兰兰</h4>
                                <a class="more js-more" href="javascript:;">查看更多</a>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>


        <div class="wrap wrap-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">

                        <div class="mode mode-r">
                            <div class="mode-img">
                                <img src="../img/contact/p4.jpg" alt=""/>
                            </div>
                            <div class="mode-info">
                                <h2>中关村店</h2>
                                <h4>张蕾</h4>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="wrap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">

                        <div class="mode mode-l">
                            <div class="mode-img">
                                <img src="../img/contact/p5.jpg" alt=""/>
                            </div>
                            <div class="mode-info">
                                <h2>中关村店</h2>
                                <h4>刘祯</h4>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div> -->

    </section>
    <!-- E Beijing -->

</div>
<!-- E area-box -->




<div class="wrap wrap-map">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">

                <div class="tit-nor">
                    <img src="../img/contact/tit.png" alt=""/>
                    <h2>我们的门店</h2>
                    <b class="solid"></b>
                </div>

                <img src="../img/contact/map.jpg" alt=""/>


            </div>
        </div>
    </div>
</div>




<div class="wrap wrap-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">

                <footer class="footer">
                    <div class="qcode">
                       <span>
                           <img src="../img/qcode_wx.jpg" alt=""/>
                           关注INSMILE公众号
                       </span>
                        <span>
                           <img src="../img/qcode_wb.jpg" alt=""/>
                           关注INSMILE微博
                       </span>
                    </div>
                    <div class="copyright">
                        版权所有 意适美齿科 本网站由 [ xxxxxxx’ ] 备案编号：苏ICP备1000000000
                    </div>
                </footer>

            </div>
        </div>
    </div>
</div>









<div class="mask js-mask" style="display: none;"></div>
<div class="pop-album js-pop-album" style="display: none;">
    <span class="pop-close js-pop-close"></span>
    <span class="pop-album-pre js-pre"></span>
    <ul class="album">
      <li></li>
    </ul>
    <span class="pop-album-next js-next"></span>
</div>





<script src="../js/jquery-1.7.2.js"></script>
<script src="https://cdn.bootcss.com/underscore.js/1.9.0/underscore-min.js"></script>
<script src="../js/demo.js"></script>

<script type='text/template' id='tpl'>
    <% _.each(data, function(item, index, a){ %>
    <% if (index%2 === 0){ %>
    <div class="wrap">
        <% } else {  %>
        <div class="wrap wrap-gray">
            <% } %>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <% if (index%2 === 0){ %>
                        <div class="mode mode-l">
                            <% } else {  %>
                            <div class="mode mode-r">
                                <% } %>
                                <div class="mode-img">
                                    <img  src="<%= item.image %>" alt=""/>
                                </div>
                                <div class="mode-info">
                                    <% if (item.area) { %>
                                    <h3 class="area"><%= item.area %></h3>
                                    <% } %>
                                    <h2><%= item.shopName %></h2>
                                    <h4><%= item.name %></h4>
                                    <% if (item.moreImages && item.moreImages.length > 0) { %>
                                    <a class="more js-more" data-index='<%= index %>' href="javascript:;">查看更多</a>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% }) %>
</script>
<script type='text/template' id='tpl1'>
    <span class="pop-close js-pop-close"></span>
    <span class="pop-album-pre js-pre"></span>
    <ul class="album">
        <% _.each(images, function(item, index, a){ %>
        <% if (index === 0){ %>
        <li>
            <% } else {  %>
        <li style="display: none;">
            <% } %>
            <img src="<%= item %>" alt=""/>
        </li>
        <% }) %>
    </ul>
    <span class="pop-album-next js-next"></span>
</script>
</body>
</html>