@charset "UTF-8";
.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  padding: 0;
  border: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  _margin-bottom: 1px;
}

button.btn,
input.btn {
  margin: 0;
  *overflow: visible;
  *filter: chroma(color=black);
}
button.btn::-moz-focus-inner,
input.btn::-moz-focus-inner {
  border: none;
  padding: 0;
}
button.btn:focus,
input.btn:focus {
  outline: none;
}

a.btn:hover {
  text-decoration: none;
}

.btn-primary {
  color: white;
  background-color: #e0463e;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.btn-primary:link, .btn-primary:visited {
  color: white;
}
.btn-primary:hover {
  background-color: #b5241d;
  color: white;
}
.btn-primary:active {
  background-color: #e45b54;
}

.btn-warn {
  color: #674800;
  background-color: #ffdb1a;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.btn-warn:link, .btn-warn:visited {
  color: #674800;
}
.btn-warn:hover {
  background-color: #cdac00;
  color: #674800;
}
.btn-warn:active {
  background-color: #ffdf34;
}

.btn-info {
  color: white;
  background-color: #4499ee;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.btn-info:link, .btn-info:visited {
  color: white;
}
.btn-info:hover {
  background-color: #1373d2;
  color: white;
}
.btn-info:active {
  background-color: #5ba6f0;
}

.btn-default {
  color: #666666;
  background-color: #f4f4f4;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.btn-default:link, .btn-default:visited {
  color: #666666;
}
.btn-default:hover {
  background-color: #cecece;
  color: #666666;
}
.btn-default:active {
  background-color: white;
}

.btn-blank {
  color: #333333;
  background-color: white;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  border: 1px solid #e0e0e0;
}
.btn-blank:link, .btn-blank:visited {
  color: #333333;
}
.btn-blank:hover {
  background-color: #d9d9d9;
  color: #333333;
}
.btn-blank:active {
  background-color: white;
}
.btn-blank:hover {
  background: #49e;
  border-color: #49e;
  color: #fff;
}

.btn-xs {
  height: 20px;
  line-height: 20px;
  padding: 0 10px;
  font-size: 12px;
}

button.btn-xs,
input.btn-xs {
  height: 22px;
  _height: 17px;
  *line-height: 17px;
}

.btn-s {
  height: 22px;
  line-height: 22px;
  padding: 0 15px;
  font-size: 12px;
}

button.btn-s,
input.btn-s {
  height: 24px;
  _height: 19px;
  *line-height: 19px;
}

.btn-m {
  height: 28px;
  line-height: 28px;
  padding: 0 20px;
  font-size: 14px;
  font-family: "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
}

button.btn-m,
input.btn-m {
  height: 30px;
  _height: 25px;
  *line-height: 25px;
}

.btn-l {
  height: 32px;
  line-height: 32px;
  padding: 0 25px;
  font-size: 14px;
  font-family: "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
}

button.btn-l,
input.btn-l {
  height: 34px;
  _height: 29px;
  *line-height: 29px;
}

.btn-xl {
  height: 36px;
  line-height: 36px;
  padding: 0 25px;
  font-size: 18px;
  font-family: "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
}

button.btn-xl,
input.btn-xl {
  height: 38px;
  _height: 33px;
  *line-height: 33px;
}

.disabled,
.disabled:hover {
  background-color: #e6e6e6;
  border: none;
  color: #999999;
  cursor: not-allowed;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

a.disabled:link,
a.disabled:visited {
  color: #999999;
}

.btn-icon {
  padding-left: 26px;
  padding-right: 10px;
  position: relative;
}

.btn-icon .icon {
  position: absolute;
  left: 10px;
  top: 6px;
  _display: block;
  _top: 4px;
}

.btn-drop {
  display: inline-block;
  _display: inline;
  width: 71px;
}

.btn-drop-current {
  cursor: pointer;
  border: 1px solid #bfbfbf;
  height: 17px;
  width: 69px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.btn-drop-current a {
  float: left;
  line-height: 18px;
  padding: 0 5px;
  width: 42px;
}

.btn-drop-arrow {
  float: left;
  width: 16px;
  height: 17px;
  border-left: 1px solid #bfbfbf;
  background-color: #fff;
  position: relative;
}

.btn-drop-arrow i {
  position: absolute;
  height: 0;
  width: 1px;
  font-size: 0;
  overflow: hidden;
  border-style: solid;
  border-width: 3px 3px 0;
  border-color: gray white white white;
  background-color: #808080;
  top: 7px;
  left: 4px;
}

.btn-drop-current:hover {
  background-color: #4078bb;
  border-color: #3c7ac7 #4078bd #1f5699;
}

.btn-drop-current:hover .btn-drop-arrow {
  border-left: 1px solid #216ca6;
  background-color: transparent;
}

.btn-drop-current:hover .btn-drop-arrow i {
  border-color: white #4078bb #4078bb #4078bb;
}

.btn-drop-current:hover a:link,
.btn-drop-current:hover a:visited,
.btn-drop-current:hover a:hover {
  color: #fff;
}

.btn-drop-down {
  position: absolute;
  border: 1px solid #cccccc;
  border-top: none;
  z-index: 9;
  width: 69px;
}

.btn-drop-down ul {
  margin: 0 !important;
}

.btn-drop-down a {
  display: block;
  height: 19px;
  line-height: 19px;
  padding: 0 5px;
}

.btn-drop-down a:link,
.btn-drop-down a:visited {
  color: #666;
}

.btn-drop-down a:hover {
  color: #333;
  background-color: #dfecf5;
}
