@charset "UTF-8";
.tab-menu:before, .tab-menu:after {
  content: " ";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}
.tab-menu:after {
  clear: both;
}
.tab-menu > li {
  float: left;
  width: 50%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 14px;
  background-color: #f2f2f2;
  cursor: pointer;
}
.tab-menu .on {
  background-color: #fff;
}

.tab-con {
  padding: 40px 50px 0;
}
